<a routerLink="/article/homme">
    <div class="addbtn" >
        <span class="mouseIn"> Précédent </span>&nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
</a>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
          
                <div class="card mb-3 dimention" >
                    <img class="card-img-top" [src]="this.myObj.im1" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{this.myObj.nom}}</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted"><b>$ {{this.myObj.prix}}</b></small></p>
                    </div>
                </div>

        </div>
    </div>
</div>


  