.addbtn{
    background-color:#343a40;
    color:rgb(230,230,230);
    position:fixed;
    left:-110px;
    top:70px;
    width:150px;
    height:35px;
    font-size:20px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center ;
    padding: 3px;
    transition : 0.3s;
    z-index: 100;
    cursor:pointer;
}
.addbtn:hover .mouseIn{
    display:inline;
}
.addbtn:hover{
    width: 150px ; 
    left:0px;
}
.addbtn a
{
    color : inherit;
    text-decoration: inherit ;
}
.dimention{
    margin : auto;
    margin-top : 20px;
    max-width: 400px;
}