<footer>
    <div class="topsidefooter container">
        <div class="row">
            <div  class="col-lg-4">
                <div class="footer_title">
                    Contact
                </div><br>
                <div class="subfooter" >
                    
                    <fa-icon [icon]="map" ></fa-icon>&nbsp;Stah Jeber ,<br>
                    Monastir, Tunisie<br>
                    <fa-icon [icon]="phone" ></fa-icon>&nbsp;+216 12 345 678<br>
                    <fa-icon [icon]="env"></fa-icon> &nbsp; <u>contact@binco.com</u>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer_title">social</div>
                <div class="subfooter social_media row">
                    <div class="col-sm col-4"><a href="https://www.facebook.com/ramez.zormati111/" target="_blank"><i class="fa fa-facebook-f fa-2x"></i></a></div>
                    <div class="col-sm col-4"><a href="https://www.instagram.com/ramezzormati/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></div>
                    <div class="col-sm col-4"><a href="https://example.com" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></div>
                </div>
            </div >
            <div class="col-lg-4">
                <div class="footer_title">
                    développé par
                </div ><br>
                <div class="subfooter d-flex justify-content-center" >
                    <table >
                        <tr>
                            <td style="padding-right:15px;text-align: right;">Housssem</td>
                            <td style="padding-left:15px;text-align: left;" >Sakli</td>
                        </tr>
                        <tr>
                            <td style="padding-right:15px;text-align: right;">Ramez</td>
                            <td style="padding-left:15px;text-align: left;">Zormati</td>
                        </tr>
                        <tr>
                            <td  style="padding-right:15px;text-align: right;">Zinédine</td>
                            <td style="padding-left:15px;text-align: left;">Younsi</td>
                        </tr>
                        <tr>
                            <td  style="padding-right:15px;text-align: right;">Youssef</td>
                            <td style="padding-left:15px;text-align: left;">Jobrane</td>
                        </tr>
                    </table>
                </div>
            </div>		
        </div>
    </div>
    <div class="Copyright ">
        <span class="redcolor">B I N C O</span> <br> © Copyright 2021 
    </div>
    <a id="contactref"></a>
</footer>