<!-- -------------------------------------------- nouveautés BEGIN ----------------------------------------------   -->
<div class="nouvsection">
	<div class="container "><br>
		<div class="row">
			<div class="col-md-12 text-center nouv-title-style " >Zoom sur les nouveautés</div> 
		</div><br><br>
		<div class="row">
			<div class="col-md-12 col-lg-4 animboxnouv" >
				 <div class="box text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, nisi sunt. Eum perferendis facere quidem, aperiam architecto reiciendis et nostrum quos, tempore id laudantium, beatae error possimus doloremque dolorem eveniet.</div>
			</div> 
			<div class="col-md-12 col-lg-4 animboxnouv" ><div class="box text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda autem eaque rem reiciendis debitis excepturi? Consequuntur quidem fuga officia excepturi, natus qui voluptatibus quo tempore non vitae id vel ducimus.</div> </div> 
			<div class="col-md-12 col-lg-4 animboxnouv" ><div class="box text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, molestiae dolorem quo illum incidunt nobis rerum! Minima maxime tempora modi sit, quam, sint praesentium fuga harum architecto nihil nemo alias!</div> </div> 
		</div>
	</div>
</div>
<!-- -------------------------------------------- nouveautés END ----------------------------------------------   -->
