<!-- -------------------------------------------- promotions BEGIN ----------------------------------------------   -->
<div class="promo">
	<div class="container "><br>
		<div class="row">
			<div class="col-md-12 text-center nouv-title-stylepromo" >Zoom sur les promotions</div> 
		</div><br><br>
		<div class="row">
			<div class="col-md-12 col-lg-4 animbox"><div class="boxpromo text-center">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aperiam mollitia asperiores enim voluptas soluta. Vero nam nisi obcaecati provident officia neque accusantium, reprehenderit veniam praesentium. Delectus veniam pariatur dolorum!
				</p>
			</div> </div>
			<div class="col-md-12 col-lg-4 animbox"> <div class="boxpromo text-center">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aperiam mollitia asperiores enim voluptas soluta. Vero nam nisi obcaecati provident officia neque accusantium, reprehenderit veniam praesentium. Delectus veniam pariatur dolorum!
				</p>
			</div></div>
			<div class="col-md-12 col-lg-4 animbox"> <div class="boxpromo text-center">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aperiam mollitia asperiores enim voluptas soluta. Vero nam nisi obcaecati provident officia neque accusantium, reprehenderit veniam praesentium. Delectus veniam pariatur dolorum!
				</p>
			</div></div> 
		</div>
	</div>
</div>
<!-- -------------------------------------------- promotions  END ----------------------------------------------   -->